body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);

}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    height: 800px;
    color: aliceblue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: table;
    height: 800px;
    width: 100%;
    z-index: 9;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    line-height: 1;
    font-family: times;
    font-weight: 300;
}

#name {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 200;
    font-family: 'Redressed', cursive;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    font-family: serif;
    position: fixed;
    top: 0;
    z-index: 10;
    cursor: pointer;
    background-color: ghostwhite;
    width: 100%;
    margin-top: 0px ;
}

.link {
    display: inline ;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.link:hover {
    background-color: orangered;
    text-decoration: underline;
    font-size: 25px
}

a {
    text-decoration: none;
    color: coral;
    text-shadow: 2px 2px gainsboro;
}

.article :hover {
    color: darkorchid;
}

html {
    scroll-behavior: smooth;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}

#contact {
    background: firebrick;
}

#contact iframe {
    width: 100%;
}

.contact1 h3 {
    display: inline;
}

.contact1 a {
    color: white;
    text-shadow: none;
}
